In [ ]:
fd = open("record.json" , 'r')
r = fd.read()
fd.close()

In [ ]:
r

In [ ]:
import json

In [ ]:
record = json.loads(r)

In [ ]:
record

In [ ]:
prod_id = str(input("Enter Product id: "))
name = str(input("Enter Name: "))
pr = int(input("Enter Price: "))
qn = int(input("Enter Quantity: "))
discount = int(input("Enter discount: "))
record[prod_id] = {'name': name, 'pr': pr, 'qn': qn , 'discount': discount}

Enter Product id: 1002

In [ ]:
{prod_id : {'name': name, 'pr': pr, 'qn': qn , 'discount' : discount}}

{'1002': {'discount': 7, 'name': 'Milk Cake', 'pr': 50, 'qn': 6}}

In [ ]:
record

{'1001': {'discount': 20, 'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'discount': 7, 'name': 'Milk Cake', 'pr': 50, 'qn': 6},
 '1003': {'discount': 10, 'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'discount': 45, 'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'discount': 25, 'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'discount': 20, 'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'discount': 55, 'name': 'Mic', 'pr': 1500, 'qn': 10},
 '1008': {'discount': 60, 'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'discount': 40, 'name': 'Keyboard', 'pr': 1999, 'qn': 10}}

In [ ]:
prod_id = str(input("Enter Product id: "))
name = str(input("Enter Name: "))
pr = int(input("Enter Price: "))
qn = int(input("Enter Quantity: "))
discount = int(input("Enter discount: "))

record[prod_id] = {'name': name, 'pr': pr, 'qn': qn , 'discount': discount}

Enter Product id: 1011
Enter Name: cream
Enter Price: 600
Enter Quantity: 50
Enter discount: 20

In [ ]:
record

{'1001': {'discount': 20, 'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'discount': 7, 'name': 'Milk Cake', 'pr': 50, 'qn': 6},
 '1003': {'discount': 10, 'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'discount': 45, 'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'discount': 25, 'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'discount': 20, 'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'discount': 55, 'name': 'Mic', 'pr': 1500, 'qn': 10},
 '1008': {'discount': 60, 'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'discount': 40, 'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1011': {'discount': 20, 'name': 'cream', 'pr': 600, 'qn': 50}}

In [ ]:
prod_id = str(input("Enter Product id: "))
name = str(input("Enter Name: "))
pr = int(input("Enter Price: "))
qn = int(input("Enter Quantity: "))
discount = int(input("Enter discount: "))

record[prod_id] = {'name': name, 'pr': pr, 'qn': qn , 'discount': discount}


js = json.dumps(record)
fd = open("record.json", 'w')
fd.write(js)
fd.close()

Enter Product id: 1024
Enter Name: mat
Enter Price: 43
Enter Quantity: 21
Enter discount: 13

In [ ]:
record

{'1001': {'discount': 20, 'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'discount': 7, 'name': 'Milk Cake', 'pr': 50, 'qn': 6},
 '1003': {'discount': 10, 'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'discount': 45, 'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'discount': 25, 'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'discount': 20, 'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'discount': 55, 'name': 'Mic', 'pr': 1500, 'qn': 10},
 '1008': {'discount': 60, 'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'discount': 40, 'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1011': {'discount': 20, 'name': 'cream', 'pr': 600, 'qn': 50}}

In [ ]:

ui_prod = str(input("Enter product id: "))
ui_quan = int(input("Enter Quantity: "))
ui_dis = int(input("Enter Discount: "))

Enter product id: 1002
Enter Quantity: 5
Enter Discount: 5

In [ ]:
print("Product: " , record[ui_prod]['name'])
print("Price: " , record[ui_prod]['pr'])
print("Billing Amount: " , record[ui_prod]['pr'] * ui_quan)
print("Discount: " ,  (ui_dis / (record[ui_prod]['pr']))*100)

record[ui_prod]['qn'] = record[ui_prod]['qn'] - ui_quan

Product:  Milk Cake
Price:  800
Billing Amount:  4000
Discount:  0.625

In [ ]:
record[ui_prod]['qn'] - ui_quan

90

In [ ]:
record[ui_prod]['qn'] = record[ui_prod]['qn'] - ui_quan

In [ ]:
import time

t = time.ctime()

In [ ]:
t

'Mon Sep  6 09:27:50 2021'

In [ ]:
record

{'1001': {'discount': 20, 'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'discount': 50, 'name': 'Milk Cake', 'pr': 800, 'qn': 90},
 '1003': {'discount': 10, 'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'discount': 45, 'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'discount': 25, 'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'discount': 20, 'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'discount': 55, 'name': 'Mic', 'pr': 1500, 'qn': 10},
 '1008': {'discount': 60, 'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'discount': 40, 'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1023': {'discount': 21, 'name': 'bag', 'pr': 650, 'qn': 20},
 '1024': {'discount': 13, 'name': 'mat', 'pr': 43, 'qn': 21},
 '1032': {'discount': 21, 'name': 'bottle', 'pr': 34, 'qn': 5}}